body{
  margin:0;
  display:flex;
  flex-wrap:wrap;
  background: black;
  font-family: rumeur;
  font-size: 30px;
  line-height:1.4em ;
}

details{
  position: absolute;
  top:0;
  right:0;
  padding: 10px 20px;
  background:tomato;
  border-left: 10px solid #cc8acc;
  border-bottom: 10px solid #b349b3;
  cursor: pointer;
  z-index: 450;
}

details summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
a{color:inherit;}
section{
  width:calc(100%/3);
  height:calc(100vh/2);
  display: flex;
  flex-direction: column;
  opacity: 0;
}
section.first{opacity: 1; position: relative;}
.btn{
  flex: max-content;
  background-size:100% 100%;
  background-position: center;
  border-color: white lightgray #222 #666 ;
  border-style: solid;
  border-width: 10px;
  height: 100%;
}
.btn:active{
  border-color: #222 #666 lightgray white  ;
}
.btn.stalag-toggle{
  background-color:tomato;
  border-color: #ffa393 #ff836d #843729 #a85243;
  background-image: url(../img/sister-nancy.png);
}
.btn.stalag-toggle:active{
  background: #a85243;
  border-color: #843729 #a85243 #ffa393 #ff836d ;
}
.btn.start{
  border-color: #cc8acc #b349b3 #2b072b #511951;
  background-color:purple;
  background-image: url(../img/okuda-hiroko1.png);
}
.btn.start:active{
  background: #511951;
  border-color:  #2b072b #511951 #cc8acc #b349b3;
}

.btn.kick-toggle{
  border-color:#a9ffa9 #28bd28 #0c280c #467546;
  background-color:green;
  background-image: url(../img/stalag.png);
}
.btn.kick-toggle:active{
  background: #467546;
  border-color:#0c280c #467546 #a9ffa9 ;
}

.btn.bass-toggle{
  background-color:gray;
  background-image: url(../img/mt40.png);
}
.btn.bass-toggle:active{
  background: #555;

}
.btn.piano-toggle{
  border-color: #fff #fff1d5 #978054 #c4b497;
  background-color:wheat;
  background-image: url(../img/soundsystem.png);
}
.btn.piano-toggle:active{
  background: #978054;
  border-color: #978054 #c4b497 #fff #fff1d5 ;
}

.btn.drumfill-toggle{
  border-color: #c1c1c1 #8a8888 #242424 #626262;
  background-color:#333;
  background-image: url(../img/king-jammy.png);
}
.btn.drumfill-toggle:active{
  background: #111;
  border-color:  #242424 #626262 #c1c1c1 #8a8888;
}

.btn:not(.playing){
  background-image:none;
}

/* .btn:not(.active){
  background-image:none;
} */
.logo{
  width: 100%;
  height: 96%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 401;
  opacity: 0;
  pointer-events: none;
  animation: anim 15s linear 0s ;
}
.logo g:not(#layer){
  display: none;
}
.logo g.visible{
  stroke-width:.02em;
  stroke:black;
  display: block!important;
}
#g5, #g6, #g7, #g8{
  fill:tomato;
}
#g1, #g2{
  fill:purple;
}
#g3, #g4{
  fill:green;
}
@keyframes anim {
  0%   {opacity: 1;}
  40%   {opacity: 1;}
  100% {opacity: 0;}
}
section:first-child .btn{
  cursor: pointer;
}

body[data-state~="3"] section:nth-child(2),
body[data-state~="4"] section:nth-child(3),
body[data-state~="5"] section:nth-child(4),
body[data-state~="6"] section:nth-child(5),
body[data-state~="7"] section:nth-child(6)
{pointer-events:all; opacity: 1;}
body:not([data-state~="8"]) .btn,{
  background-image:none;
}
body:not([data-state~="2"]) details{
  display: none;
}