:root{
  --border:1px solid black;
}

body {
  background: url("../img/hoang-m-nguyen-Otlsl6ZIvhA-unsplash.jpg");
  /* background-size: 100vw 100vh, ; */
}

main{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2,auto 1fr);
  border-bottom:var(--border);
  border-left:var(--border);
}
.box{
  border-top:var(--border);
  border-right:var(--border);
}

.rectangleMultiples {
  border: 1px solid black;
  border-radius: 10px;
  border-color: black;
  width: 200px;
  height: 200px;
  background-image: url("../img/img.png");
}

.rectangle1 {
  border: 1px solid black;
  border-color: black;
  width: 200px;
  height: 200px;
}


.switch4{
    /* transform: rotate(55deg); */
    /* height: 400px; */
    transform: skewY(81deg);
    transition: linear 0.01s;
}


.switch3{
    /* transform: rotate(55deg); */
    /* height: 400px; */
    transform: scaleY(5);
    transition: linear 0.1s;
}

.switchable{
  cursor: pointer;
  width: 100px;

}

.gray {
    filter: grayscale(100%);
}

.rotation{
  transform: rotate(95deg);
}

.switch2{
    transform: rotate(55deg);
    height: 400px;
}


.mirror{
  transform: scaleX(-1);
}
