
.slider7 {
  -webkit-appearance: none;
  appearance: none;
  border-color: pink;
  outline: none;
}

.slider7:focus {
  outline: transparent;
}


.slider7::-moz-range-track {
  width: 100%;
  height: 46px;
  appearance: none;
  cursor: pointer;
  border-radius: 0px;
  border: 0px;
  background: url('../img/caillou.png') repeat, url('../img/mer1.png');
  background-size:46px 100%, 100% 100%;
}

.slider7::-webkit-slider-runnable-track {
  width: 100%;
  height: 46px;
  cursor: pointer;
  background: white;
  border-radius: 0px;
  border: 0px;
  background: url('../img/mer1.png') no-repeat;
}


.slider7::-moz-range-thumb{
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background: url('../img/mer1.png') no-repeat;
  background-size: 46px 46px;
}
/* 99images_wallpaper2 */

.slider7::-webkit-slider-thumb{
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background: url('../img/mer1.png') no-repeat;
  background-size: 46px 46px;
}




.slider6 {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  height: 200px;
  width: 100px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
}

.slider6:focus {
  outline: transparent;
}


.slider6::-moz-range-track {
  width: 90%;
  appearance: none;
  cursor: pointer;
  background: radial-gradient(circle,  rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%)
}

.slider6::-webkit-slider-runnable-track {
  width: 60%;
  height: 5px;
  cursor: pointer;
  background: white;
  border-radius: 2px;
  background: radial-gradient(circle,  rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%)

}


.slider6::-moz-range-thumb{
  position: relative;
  cursor: pointer;
  appearance: none;
  height: 120px;
  width: 6px;

  border-radius: 50%;
  border: 0px;
  background: radial-gradient(circle,  rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%)
}


.slider6::-webkit-slider-thumb{
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 0px;
  /* background-color: white; */
  margin-top: -3px;
  background: radial-gradient(circle,  rgba(0,0,0,1) 0%, rgba(255,255,255,0) 110%)

}


.slider5 {
  -webkit-appearance: none;
  appearance: none;
  border-color: pink;
  outline: none;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 0.2px solid #010101;
  transform: rotate(35deg);


}

.slider5:focus {
  outline: transparent;
}


.slider5::-moz-range-track {
  width: 90%;
  appearance: none;
  cursor: pointer;
  border-radius: 2px;
  border: 0.2px solid #010101;
}

.slider5::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: white;
  border-radius: 2px;
  border: 0.1px solid #010101;
}


.slider5::-moz-range-thumb{
  position: relative;
  cursor: pointer;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 0.2px solid #010101;
  background-color: white;
  margin-top: -15px; //ne fonctionne pas
}


.slider5::-webkit-slider-thumb{
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 0px;
  border: 0.1px solid #010101;
  background-color: white;
  margin-top: -25px;
}



.slider4 {
  -webkit-appearance: none;
  appearance: none;
  border-color: pink;
  outline: none;
}

.slider4:focus {
  outline: transparent;
}


.slider4::-moz-range-track {
  width: 100%;
  height: 2px;
  appearance: none;
  cursor: pointer;
  border-radius: 2px;
  border: 0.2px solid #010101;
}

.slider4::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: white;
  border-radius: 2px;
  border: 0.1px solid #010101;
}


.slider4::-moz-range-thumb{
  position: relative;
  cursor: pointer;
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 0px;
  border: 0.2px solid #010101;
  background-color: white;
  margin-top: -15px; //ne fonctionne pas
}


.slider4::-webkit-slider-thumb{
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 0px;
  border: 0.1px solid #010101;
  background-color: white;
  margin-top: -25px;
}



.slider3 {
  -webkit-appearance: none;
  appearance: none;
  /* background-size: 46px 46px; */
  border-color: pink;
  outline: none;
  /* width: 200px;
  height: 20px; */
}

.slider3:focus {
  outline: transparent;
}


.slider3::-moz-range-track {
  width: 100%;
  height: 2px;
    /* appearance: none; */
  cursor: pointer;
  background: lavender;
  border-radius: 50%;
  border: 0.2px solid #010101;
}

.slider3::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
    /* appearance: none; */
  cursor: pointer;
  background: lavender;
  border-radius: 50%;
  border: 0.1px solid #010101;
}

.slider3::-webkit-slider-thumb{
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 10.3px;
  border: 0.1px solid #010101;
  background-color: yellow;
  margin-top: -25px;
}

.slider3::-moz-range-thumb{
  position: relative;
  cursor: pointer;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 10.3px;
  border: 0.2px solid #010101;
  background-color: yellow;
  margin-top: -15px; //ne fonctionne pas
}











.slider1 {
  -webkit-appearance: none;
  appearance: none;
  background-color: red;
}

.slider1::-webkit-slider-thumb {
  cursor: pointer;
}

.slider1::-moz-range-thumb {
  cursor: pointer;
}

.slider2 {
  -webkit-appearance: none;
  appearance: none;
  background: url("../img/caillou.png") round;
  background-size: 46px 46px;
  width: 200px;
  height: 200px;
}

.slider2::-webkit-slider-thumb{
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 46px;
  width: 46px;
  background: url('../img/caillou.png') no-repeat;
  background-size: 46px 46px;
}

.slider2::-moz-range-thumb{
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 46px;
  width: 46px;
  background: url('../img/caillou.png') no-repeat;
  background-size: 46px 46px;
}
