@font-face {
    font-family: 'rumeur';
    src: url('rumeur.woff2') format('woff2'),
        url('rumeur.woff') format('woff'),
        url('rumeur.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

